.home {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

input {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid gray;
    box-sizing: border-box;
    display: block;
}

#x {
    color: white;
}
#x:hover {
    cursor: pointer;
}

.task:hover #x {
        color: black;
    }
